{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<!-- Banner Section start -->
<section class="banner-section payment">
    <div class="overlay">
        <div class="shape-area">
            <img src="{% static 'assets/images/payment-illus-2.png' %}" class="obj-1" alt="image">
            <img src="{% static 'assets/images/payment-illus.png' %}" class="obj-2" alt="image">
        </div>
        <div class="banner-content">
            <div class="container wow fadeInUp">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-6 col-md-7">
                        <div class="main-content">
                            <div class="top-area section-text">
                                <h5 class="sub-title">International Payments</h5>
                                <h1 class="title">Making Global Payments Simple</h1>
                                <p class="xlr">Start growing your business with our innovative payment solutions.</p>
                            </div>
                            {% comment %} <div class="bottom-area d-xxl-flex">
                                <a href="sign-up.html" class="cmn-btn">Open a Free Account</a>
                                <a class="cmn-btn active mfp-iframe popupvideo" href="https://www.youtube.com/watch?v=Djz8Nc0Qxwk">See How it Works</a>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section end -->

<!-- Features start -->
<section class="global-payment features">
    <div class="overlay pt-120 pb-120">
        <div class="container wow fadeInUp">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-5 order-xl-0 order-1">
                    <div class="image-area d-rtl left-side">
                        <img src="{% static 'assets/images/global-payment-2.png' %}" alt="images" class="max-un">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-7">
                    <div class="row cus-mar">
                        <div class="col-lg-12">
                            <div class="section-header">
                                <h5 class="sub-title">Everything You Need to Accept Online Payments</h5>
                                <h2 class="title">One Platform. Every Payment Possibility</h2>
                                <p>Making international payments and receivables, easy and efficient.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-6">
                            <div class="single-item">
                                <img src="{% static 'assets/images/icon/features-icon-1.png' %}" alt="icon">
                                <h5>Cheaper than banks</h5>
                                <p>Significant savings on your global payments</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-6">
                            <div class="single-item">
                                <img src="{% static 'assets/images/icon/features-icon-2.png' %}" alt="icon">
                                <h5>Faster than banks</h5>
                                <p>Have payments received in as soon as one..</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-6">
                            <div class="single-item">
                                <img src="{% static 'assets/images/icon/features-icon-3.png' %}" alt="icon">
                                <h5>Global reach</h5>
                                <p>Make payments across the globe to more than..</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-6">
                            <div class="single-item">
                                <img src="{% static 'assets/images/icon/features-icon-4.png' %}" alt="icon">
                                <h5>Get local support</h5>
                                <p>Receive full support from our local success..</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features end -->

<!-- More Features start -->
<section class="more-features">
    <div class="overlay pt-120 pb-120">
        <div class="container wow fadeInUp">
            <div class="row justify-content-center">
                <div class="col-xl-6 text-center">
                    <div class="section-header dark-sec">
                        <h5 class="sub-title">Easy, Fast, and powerful</h5>
                        <h2 class="title">The platform to help your business grow</h2>
                        <p>One platform to accept payments, protect revenue, and control your finances.</p>
                    </div>
                </div>
            </div>
            <div class="row cus-mar">
                <div class="col-md-4 col-sm-6">
                    <div class="single-item">
                        <img src="{% static 'assets/images/icon/more-features-icon-1.png' %}" alt="icon">
                        <h5>Global Coverage</h5>
                        <p>Grow into international markets by accepting payments wherever your customers are - via their preferred...</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-item">
                        <img src="{% static 'assets/images/icon/more-features-icon-2.png' %}" alt="icon">
                        <h5>Simple integration</h5>
                        <p>Access our payments platform via an easy API integration, through your chosen shopping cart or..</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-item">
                        <img src="{% static 'assets/images/icon/more-features-icon-3.png' %}" alt="icon">
                        <h5>Scalable</h5>
                        <p>We've built highly scalable infrastructure from the ground up for security, stability, velocity.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- More Features end -->

<!-- Accept Payments Everywhere start -->
<section class="accept-payments">
    <div class="overlay pt-120 pb-120">
        <div class="container wow fadeInUp">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-0 order-1">
                    <div class="image-area d-rtl left-side">
                        <img src="{% static 'assets/images/accept-payment-img.png' %}" alt="images" class="max-un">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-header">
                        <h5 class="sub-title">The platform to help your business grow</h5>
                        <h2 class="title">Accept Payments Everywhere</h2>
                        <p>Let your customers pay wherever and however they prefer. Work with one provider to accept, process, and settle payments.</p>
                    </div>
                    <div class="main-content">
                        <div class="single-item">
                            <h5>Online Payments ›</h5>
                            <p>Accept cards, mobile wallets, and more on any digital channel or device.</p>
                        </div>
                        <div class="single-item">
                            <h5>In-person payments ›</h5>
                            <p>Enhance your point of sale setup and choose a terminal for any need.</p>
                        </div>
                        <div class="single-item">
                            <h5>Unified Commerce ›</h5>
                            <p>Connect your online and in-store payment data in one system.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Accept Payments Everywhere end -->

<!-- Business Model start -->
<section class="our-solutions business-model">
    <div class="overlay pt-120 pb-120">
        <div class="container wow fadeInUp">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-header dark-sec text-center">
                        <h5 class="sub-title">Solutions built for your business model</h5>
                        <h2 class="title">All-in-one finance for growing businesses</h2>
                        <p>Save time and money with borderless payments, corporate cards, expense management, and more. All in one account.</p>
                    </div>
                </div>
            </div>
            <div class="row cus-mar">
                <div class="col-xl-4 col-6">
                    <div class="single-item">
                        <img src="{% static 'assets/images/icon/business-model-icon-1.png' %}" alt="icon">
                        <h5>Open an Account</h5>
                        <p>Get an account number and virtual card instantly upon approval. Manage it all from your..</p>
                    </div>
                </div>
                <div class="col-xl-4 col-6">
                    <div class="single-item">
                        <img src="{% static 'assets/images/icon/business-model-icon-2.png' %}" alt="icon">
                        <h5>No hidden fees</h5>
                        <p>Enjoy the lowest transfer fees in the market with transparent pricing and no monthly fees.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-6">
                    <div class="single-item">
                        <img src="{% static 'assets/images/icon/business-model-icon-3.png' %}" alt="icon">
                        <h5>All in one place</h5>
                        <p>No need for separate accounts, cards, or software. Scale faster with a fully integrated..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Business Model end -->

<!-- Features built for business start -->
<section class="features-built">
    <div class="overlay">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="section-header text-center">
                        <h5 class="sub-title">Features built for business</h5>
                        <h2 class="title">Do Business With Confidence</h2>
                        <p>Make Money Mover the hub of your cross-border and cross-currency payments and collections and benefit from our intuitive user interface and payment tracking.</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xl-6 cus-mar">
                    <div class="single-area">
                        <div class="icon-area">
                            <img src="{% static 'assets/images/icon/features-built-icon-1.png' %}" alt="icon">
                        </div>
                        <div class="text-area">
                            <h5>Security is at our core</h5>
                            <p>All our accounts are enabled with two factor authentication to ensure extra-secure transactions.</p>
                        </div>
                    </div>
                    <div class="single-area">
                        <div class="icon-area">
                            <img src="{% static 'assets/images/icon/features-built-icon-2.png' %}" alt="icon">
                        </div>
                        <div class="text-area">
                            <h5>Your data is protected</h5>
                            <p>All our accounts are enabled with two factor authentication to ensure extra-secure transactions.</p>
                        </div>
                    </div>
                    <div class="single-area">
                        <div class="icon-area">
                            <img src="{% static 'assets/images/icon/features-built-icon-3.png' %}" alt="icon">
                        </div>
                        <div class="text-area">
                            <h5>Customer service is our priority</h5>
                            <p>All our accounts are enabled with two factor authentication to ensure extra-secure transactions.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 text-center">
                    <div class="image-area">
                        <img src="{% static 'assets/images/features-built-frame.png'%}" alt="images" class="max-un">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features built for business end -->

<!-- Footer Area Start -->
<footer class="footer-section">
    <div class="container pt-120">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="newsletter">
                    <div class="section-area mb-30 dark-sec text-center">
                        <h3 class="title">Subscribe to Our Newsletter</h3>
                    </div>
                    <form action="#">
                        <div class="form-group d-flex align-items-center">
                            <input type="text" placeholder="Your Email Address">
                            <button><img src="{% static 'assets/images/icon/arrow-right-2.png' %}" alt="icon"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-area pt-120">
            <div class="footer-top">
                <div class="row align-items-center">
                    <div class="col-sm-6 d-flex justify-content-center justify-content-sm-start">
                        <div class="menu-item">
                            <ul class="footer-link d-flex align-items-center">
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="help-center.html">Support</a></li>
                                <li><a href="fees.html">Fees</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-link d-flex justify-content-sm-end justify-content-center align-items-center">
                            <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/facebook.png' %}" alt="icon"></a>
                            <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/linkedin.png' %}" alt="icon"></a>
                            <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/instagram.png' %}" alt="icon"></a>
                            <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/twitter.png' %}" alt="icon"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-6 col-sm-8 d-flex justify-content-center justify-content-sm-start order-sm-0 order-1">
                        <div class="copyright text-center text-sm-start">
                            <p> Copyright © 2023 <a href="{% url 'core:index' %}">Paylio.</a> All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-4">
                        <div class="menu-item">
                            <ul class="footer-link d-flex justify-content-sm-end justify-content-center align-items-center">
                                <li><a href="terms-conditions.html">Terms</a></li>
                                <li><a href="privacy-policy.html">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->

{% endblock %}