{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<section class="banner-section corporate-card subscriptions">
    <div class="overlay">
        <div class="banner-content">
            <div class="container wow fadeInUp">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-6 col-md-7">
                        <div class="main-content">
                            <div class="top-area section-text">
                                <h5 class="sub-title">Scheduled Payments</h5>
                                <h1 class="title">Manage Subscriptions Smarter</h1>
                                <p class="xlr">One place for all your recurring payments</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section end -->

<!-- Features start -->
<section class="earn-cashback features">
    <div class="overlay pt-120 pb-120">
        <div class="container wow fadeInUp">
            <div class="row pb-120 align-items-center justify-content-between">
                <div class="col-md-6 order-md-0 order-1">
                    <div class="sec-image">
                        <img src="{% static 'assets/images/subscriptions-features.png' %}" alt="image" class="w-100">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="section-text">
                        <h5 class="sub-title">Block unwanted subscriptions easily</h5>
                        <h2 class="title">Organise subscriptions in one place</h2>
                        <p>Add your scheduled payments to Paylio to track your spending and see where you could save</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-md-6">
                    <div class="section-text">
                        <h5 class="sub-title">Subscribe to a better financial life</h5>
                        <h2 class="title">Get reminders for upcoming payments</h2>
                        <p>Say goodbye to surprise charges with notifications if there's not enough money to cover scheduled payments</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="sec-image exb-mar">
                        <img src="{% static 'assets/images/subscriptions-features-2.png' %}" alt="image" class="w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features end -->

<!-- Testimonials start -->
<section class="testimonials">
    <div class="overlay pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-header text-center">
                        <h5 class="sub-title">Testimonials</h5>
                        <h2 class="title">What Our Customers Say</h2>
                        <p>245m+ happy clients all around the world. Don’t just take our word for it</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid wow fadeInUp">
            <div class="testimonials-carousel">
                <div class="single-slide">
                    <div class="single-content">
                        <div class="start-area">
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                        </div>
                        <h5 class="title-area">Great Fast Reliable Service</h5>
                        <p class="xlr">"Paylio has always been a reliable solution for my business. I am very satisfied with their speedy service and professional customer care. I highly recommend Paylio to businesses with regular overseas payments."</p>
                        <div class="profile-area d-flex align-items-center">
                            <div class="icon-area">
                                <img src="{% static 'assets/images/testimonials-img-1.png' %}" alt="icon">
                            </div>
                            <div class="text-area">
                                <h5>Aspen Press</h5>
                                <p>Web Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slide">
                    <div class="single-content">
                        <div class="start-area">
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                        </div>
                        <h5 class="title-area">Great Fast Reliable Service</h5>
                        <p class="xlr">"Paylio has always been a reliable solution for my business. I am very satisfied with their speedy service and professional customer care. I highly recommend Paylio to businesses with regular overseas payments."</p>
                        <div class="profile-area d-flex align-items-center">
                            <div class="icon-area">
                                <img src="{% static 'assets/images/testimonials-img-2.png' %}" alt="icon">
                            </div>
                            <div class="text-area">
                                <h5>Courtney Henry</h5>
                                <p>Balance Studio</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slide">
                    <div class="single-content">
                        <div class="start-area">
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                        </div>
                        <h5 class="title-area">Great Fast Reliable Service</h5>
                        <p class="xlr">"Paylio has always been a reliable solution for my business. I am very satisfied with their speedy service and professional customer care. I highly recommend Paylio to businesses with regular overseas payments."</p>
                        <div class="profile-area d-flex align-items-center">
                            <div class="icon-area">
                                <img src="{% static 'assets/images/testimonials-img-3.png' %}" alt="icon">
                            </div>
                            <div class="text-area">
                                <h5>Paul Howell</h5>
                                <p>President of Sales</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slide">
                    <div class="single-content">
                        <div class="start-area">
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                        </div>
                        <h5 class="title-area">Great Fast Reliable Service</h5>
                        <p class="xlr">"Paylio has always been a reliable solution for my business. I am very satisfied with their speedy service and professional customer care. I highly recommend Paylio to businesses with regular overseas payments."</p>
                        <div class="profile-area d-flex align-items-center">
                            <div class="icon-area">
                                <img src="{% static 'assets/images/testimonials-img-2.png' %}" alt="icon">
                            </div>
                            <div class="text-area">
                                <h5>Courtney Henry</h5>
                                <p>Balance Studio</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- App Download end -->

<!-- Call To Action start -->
<section class="call-action">
    <div class="overlay pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 text-center">
                    <div class="section-text">
                        <h5 class="sub-title">What are you waiting for?</h5>
                        <h2 class="title">Start Taking Control of Your Money Today</h2>
                        <p>No-fuss company cards for team members, instant virtual cards for security and flexibility — all set up with our easy expense management</p>
                    </div>
                    <div class="btn-area">
                        <a href="sign-up.html" class="cmn-btn">Sign up in minutes</a>
                        <a href="help-center.html" class="cmn-btn active">Talk to an expert</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call To Action end -->

<!-- Footer Area Start -->
<footer class="footer-section">
    <div class="container pt-120">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="newsletter">
                    <div class="section-area mb-30 dark-sec text-center">
                        <h3 class="title">Subscribe to Our Newsletter</h3>
                    </div>
                    <form action="#">
                        <div class="form-group d-flex align-items-center">
                            <input type="text" placeholder="Your Email Address">
                            <button><img src="{% static 'assets/images/icon/arrow-right-2.png' %}" alt="icon"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-area pt-120">
            <div class="footer-top">
                <div class="row align-items-center">
                    <div class="col-sm-6 d-flex justify-content-center justify-content-sm-start">
                        <div class="menu-item">
                            <ul class="footer-link d-flex align-items-center">
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="help-center.html">Support</a></li>
                                <li><a href="fees.html">Fees</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-link d-flex justify-content-sm-end justify-content-center align-items-center">
                            <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/facebook.png' %}" alt="icon"></a>
                            <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/linkedin.png' %}" alt="icon"></a>
                            <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/instagram.png' %}" alt="icon"></a>
                            <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/twitter.png' %}" alt="icon"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-6 col-sm-8 d-flex justify-content-center justify-content-sm-start order-sm-0 order-1">
                        <div class="copyright text-center text-sm-start">
                            <p> Copyright © 2023 <a href="{% url 'core:index' %}">Paylio.</a> All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-4">
                        <div class="menu-item">
                            <ul class="footer-link d-flex justify-content-sm-end justify-content-center align-items-center">
                                <li><a href="terms-conditions.html">Terms</a></li>
                                <li><a href="privacy-policy.html">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock %}